@page "{id:int}"
@model FiscalManagement.Pages.Plati.DeleteModel
@{
    ViewData["Title"] = "Șterge plată";
}

<h1>Șterge plată</h1>

<h3>Sigur doriți să ștergeți această plată?</h3>
<div>
    <h4>Plată</h4>
    <dl class="row">
        <dt class="col-sm-2">Detalii</dt>
        <dd class="col-sm-10">@Model.Plata.DetaliiPlata</dd>
        <dt class="col-sm-2">Suma</dt>
        <dd class="col-sm-10">@Model.Plata.Suma</dd>
    </dl>
</div>
<form method="post">
    <input type="hidden" asp-for="Plata.PlataID" />
    <button type="submit" class="btn btn-danger">Șterge</button>
    <a class="btn btn-secondary" asp-page="Index">Renunță</a>
</form>
